*{

padding: 0;
margin: 0;
box-sizing: border-box;

}

.cotener{
text-align: center;
display: block;
max-width: 300px;
margin: auto;
background: skyblue;
padding: 20px 20px;

}
input{
padding-bottom: 20px;
width: 100%;	
margin-bottom: 40px;
}
h1{
color: white;
padding: 20px;


}
button{
width: 200px;
height: 50px;
background: blue;
border: 0;
color: white;


}
button:hover{
background-color: royalblue;


}
.resposta{
margin: auto;
width: 200px;
background-color: white;
border-radius: 30px;
}


